@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: lavishly;
  src: url(/LavishlyYours-Regular.ttf);
}

@font-face {
  font-family: questrial;
  src: url(/Questrial-Regular.ttf);
}

.font-lavishly {
  font-family: "Lavishly Yours", cursive;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  body::before {
    content: "Please rotate your device to portrait mode 📱";
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    z-index: 9999;
    text-align: center;
    padding: 1rem;
  }
}
