@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: lavishly;
  src: url(/LavishlyYours-Regular.ttf);
}

@font-face {
  font-family: questrial;
  src: url(/Questrial-Regular.ttf);
}

.font-lavishly {
  font-family: "Lavishly Yours", cursive;
}
